<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nd.mapper.CarMapper">
    <resultMap id="Car" type="com.nd.entity.Car">
        <id property="id" column="c_id"/>
        <result property="id" column="c_id"/>
        <result property="brand" column="c_brand"/>
        <result property="model" column="c_model"/>
        <association property="client" javaType="com.nd.entity.Client">
            <id property="id" column="cl_id"/>
            <result property="id" column="cl_id"/>
            <result property="age" column="cl_age"/>
            <result property="name" column="cl_name"/>
        </association>
    </resultMap>
    <insert id="addCar">
        insert into car (brand, model, client_id)
        values (#{car.brand}, #{car.model}, #{car.client.id})
    </insert>

    <select id="findAll" resultMap="Car">
        select
            c.id as c_id,
            c.brand as c_brand,
            c.model as c_model,
            cl.id as cl_id,
            cl.name as cl_name,
            cl.age as cl_age
        from car c
                 left join client cl on c.client_id = cl.id;
    </select>
</mapper>